/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* styling */

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.383), rgba(0, 0, 0, 0.383)), url(../img/brooke-lark-KyUmKlXrhAM-unsplash.jpg);
    font-family: "Comfortaa", sans-serif;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}

.back {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
}

header {
    margin: 30px;
}

h1 {
    font-size: 40px;
}

.recipe-container {
    background-color: #ffffff5c;
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 30px;
    display: grid;
    gap: 30px;
}

img {
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.left-side-grid {
    display: grid;
    grid-template-rows: 400px 1fr;
    gap: 20px;
}

h2 {
    font-size: 25px;
}

ul {
    list-style-type: none;
    margin-top: 20px;
    font-size: 18px;
}

.right-side-grid {
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: max-content;
    gap: 30px;
}

.description>p {
    font-size: 25px;
    font-style: italic;
}

.time {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
    font-size: 20px;
}

h3 {
    font-size: 20px;
    margin-top: 15px;
}

.instructions>p {
    font-size: 20px;
    font-weight: 200;
    margin-top: 5px;
}

.credits {
    grid-column: 1/3;
    text-align: center;
}

a {
    color: white;
}