/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* styling */

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.383), rgba(0, 0, 0, 0.383)), url(../img/brooke-lark-KyUmKlXrhAM-unsplash.jpg);
    font-family: "Comfortaa", sans-serif;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}

.back {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
}

header {
    margin: 30px;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.recipe-container {
    background-color: #ffffff5c;
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 30px;
    display: grid;
    gap: 30px;
    align-self: center;
    width: 1000px;
}

img {
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    width: 400px;
    height: 400px;
}

h2 {
    font-size: 25px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    margin-top: 20px;
    font-size: 18px;
}

.description>p {
    font-size: 25px;
    font-style: italic;
}

.time {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
    font-size: 20px;
}

h3 {
    font-size: 20px;
    margin-top: 15px;
}

.instructions>p {
    font-size: 20px;
    font-weight: 200;
    margin-top: 5px;
}

.credits {
    grid-column: 1/3;
    text-align: center;
}

a {
    color: white;
}

@media screen and (max-width: 1000px) {

    header {
        margin: 50px 0 30px;
    }

    .recipe-container {
        display: flex;
        flex-direction: column;
        width: 90vw;
        justify-content: center;
    }

    img {
        width: 100%;
    }
}